---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FloatingBookButton from '../components/FloatingBookButton.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import '../styles/global.css';

const { title = "OG Recreations - The Original Stress Buster" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/og-recreations/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-gray-900 antialiased min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <FloatingBookButton />
    <ScrollToTop />
  </body>
</html>